{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>
            <p>{% blocktrans %}Welcome back to the Yemos|Storyline blog.
                If you would like to leave a comment or show appreciation for a post,
                please log in. In case you haven't created an account yet,
                feel free to sign up now and join our community.
                <a href="{{ signup_url }}" class="link">👉🏽 sign up</a>.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <button type="button" class="btn btn-signup right"
                onclick="window.location.href='{% provider_login_url 'google' %}'">
                {% trans "Sign In with Google" %}</button>
        </div>
    </div>
</div>

{% endblock %}